@import "./_reset.scss";
@import "./_media_queries.scss";
@import "./_mixins.scss";

$accent: #206bf8;
$light-accent: #9ef7cd;

body {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;

  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  background: #dfdfdf;

  padding: 2rem 0;
  box-sizing: border-box;
  min-height: 100vh;
}

#app {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.logged) * {
  }
  &.logged {
    transition: all 1s ease;
  }
}

#choices {
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  #audio-container {
    #audio-question {
      @include fs(2);
      margin-bottom: 1.5rem;
    }
    text-align: center;
    grid-column: 1 / span 2;
  }
  .choice {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    grid-row: 2;
    a.img-choice {
      cursor: pointer;
      transition: opacity 1s ease;
      &:active {
        opacity: 0.3;
      }
    }
    img {
      width: 100%;
      margin-bottom: 10px;
      border-radius: 0.8rem;
      border: 3px solid transparent;
      &:hover {
        border-color: $accent;
      }
    }
  }

  .choice-number {
    text-align: center;
    grid-column: 1 / span 2;
    color: #ccc;
    .choices-made {
      color: black;
    }
  }

  &.reverse-order {
    #first-choice {
      grid-column: 2;
    }
    #second-choice {
      grid-column: 1;
    }
  }
}

h1 {
  @include fs(2);
  color: $accent;
  margin-bottom: 2rem;
}

a:not(.next-step):not(.img-choice) {
  color: black;
  text-decoration-color: $accent;
  &:hover {
    text-decoration: none;
    background: $light-accent;
  }
}

p {
  @include fs(0);
  em {
    font-style: italic;
  }
  strong {
    font-weight: 700;
  }
  & + p {
    margin-top: 1rem;
  }
}

.next-step {
  margin-top: 2rem;
  display: inline-block;
  background: $accent;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.3rem;
  transition: 0.15s all ease;
  &:not(.disabled):hover {
    background: black;
  }
  &.disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

#checkbox {
  border: none;
}

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 5fr 3fr;
  @include respond-below(md) {
    grid-template-columns: 2fr 5fr 2fr;
  }
  @include respond-below(sm) {
    grid-template-columns: 1fr 6fr 1fr;
  }
  @include respond-below(sm) {
    grid-template-columns: 1fr 10fr 1fr;
  }
  .text-container {
    grid-column: 2;
    p {
      @include fs(0);
    }
  }
}

.lbl {
  span {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 2px;
    position: relative;
    top: 1px;
    margin-right: 0.5rem;
    border: 1px solid $accent;
    background: white;
  }
  cursor: pointer;
}

#cbx:checked ~ .lbl {
  span {
    background: $accent;
  }
}
