@import "./_reset.scss";
@import "./_media_queries.scss";
@import "./_mixins.scss";

body {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;

  min-height: 100vh;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

#app {
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.logged) * {
  }
  &.logged {
    transition: all 1s ease;
  }
}

#choices {
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  #audio-container {
    #audio-question {
      @include fs(2);
      margin-bottom: 1.5rem;
    }
    text-align: center;
    grid-column: 1 / span 2;
  }
  .choice {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    grid-row: 2;
    a {
      cursor: pointer;
      transition: opacity 1s ease;
      &:active {
        opacity: 0.3;
      }
    }
    img {
      width: 100%;
      margin-bottom: 10px;
      transition: all 1s ease;
      border-radius: 0.8rem;
      @include box_shadow(1);
      position: relative;
      &:hover {
        @include box_shadow(2);
      }
    }
  }

  .choice-number {
    text-align: center;
    grid-column: 1 / span 2;
    color: #ccc;
    .choices-made {
      color: black;
    }
  }

  &.reverse-order {
    #first-choice {
      grid-column: 2;
    }
    #second-choice {
      grid-column: 1;
    }
  }
}
