@import "./reset.scss";

body {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}
#choices {
  margin: 0 auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  audio {
    grid-column: 1 / span 2;
  }
  .choice {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &.reverse-order {
    #first-choice {
      grid-column: 2;
    }
    #second-choice {
      grid-column: 1;
    }
  }
}
